name: Nord 3 NetHunter Build (Android 16)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build NetHunter Kernel
        uses: dabao1955/kernel_build_action@main
        with:
          kernel-url: https://github.com/OnePlusOSS/android_kernel_5.10_oneplus_mt6983
          kernel-branch: oneplus/mt6983_v_15.0.0_nord_3
          config: gki_defconfig
          arch: arm64

          android-version: 14
          aosp-gcc: false
          aosp-clang: false

          # NetHunter core (NO broken patches)
          nethunter: true
          nethunter-patch: false

          anykernel3: true
          extra-make-args: LLVM=1 LLVM_IAS=1
